:host {
  display: block;
}

.card-border{
  border-radius: 20px;
  border:var(--primary-color) solid 3px;
  background-image: url('./../../../../../src/assets/img/Collection.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.card-border:hover{
  transform: scale(1.015);
}
.card-border:active{
  transform: scale(0.95);
}

.card-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s;
  border-radius: 20px;
}
.card-body{
  z-index: 1;
  color:white;
}
.card-border:hover .card-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}
.card-border:hover .card-body {
  color:black;
}

