:host {
  display: block;
}

aside{
  border-radius: 20px;
  border:var(--primary-color) solid 3px;
  animation: ShadowNeonsEffectBlue 1s ease-in-out infinite alternate;
  background-color: var(--light-color);
  width: 170px;
  padding: 10px;
}

.commercial{
  border-radius: 20px;
  border:var(--primary-color) solid 2px;
  background-image: url('./../../../../assets/img/publicidad2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 130px;
  height: 320px;
  cursor: pointer;
}

li{
  list-style: none;
  cursor: pointer;
  border-radius: 10px;
}
.li-border{
  background-color:var(--primary-color-light);
  color: var(--primary-color);
  border:var(--primary-color) solid 1px;
  margin: 5px;
  font-weight: bolder;
  font-size: 18px;
}
.options{
  padding-left: 0px ;
  font-weight: normal;
  font-size: 16px;
}

a{
  transition: .5s;
  border-radius: 20px;
  margin: 5px 2px;
}
.active {
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  border-radius: 20px;
}
.title{
  font-size: 24px;
  text-decoration: underline;
}
.option{
  font-size: 20px;
  font-weight: bold;

}
nav .container, .navbar{
  background-color: transparent;
}


