
<aside class="sidebar">

  <ul class="nav flex-column text-center">
    <li class="nav-item li-border" *ngFor="let item of menu()">
      <a  class="nav-link primary-color"
          (click)="toggleCollapse(item)"
      >
        {{ item.title }}
      </a>
      <ul class="options" *ngIf="item.expanded">
        <li *ngFor="let option of item.options">
          <a class="nav-link primary-color"
          [routerLink]="[option.route]"
          routerLinkActive="active"
          >
            {{ option.title }}
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="d-flex justify-content-center align-items-center">
    <div class="commercial m-2 "></div>
  </div>

</aside>
