:host {
  display: block;
}

h2{
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,  rgba(106, 134, 185, 0.8), var(--primary-color), rgba(106, 134, 185, 0.8)) 1;
}

.form-container{
  width: 40vw;
  max-width: 500px;
  min-width: 350px;
  border-radius: 30px;
  border:var(--primary-color) solid 3px;
  animation: ShadowNeonsEffectBlue 1s ease-in-out infinite alternate;
  background-color: var(--light-color);
}

input{
  background-color: white;
  border:var(--primary-color) solid 1px;
}
input:focus{
  transform: scale(1.05);
}

p{
  font-style: oblique;
  border-bottom: 2px solid transparent;
}
p:hover{
  cursor: pointer;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, var(--primary-color-light), var(--primary-color), var(--primary-color-light)) 1;
}

.primary-button:hover {
  background-color: var(--primary-color-light);
  animation: buttonNeonsEffect 0.5s ease-in-out forwards alternate;
}

