:host {
  display: block;
}

button{
  border-radius: 20px;
  border:var(--primary-color) solid 3px;
  animation: ShadowNeonsEffectBlue 1s ease-in-out infinite alternate;
  background-color: rgba(255, 255, 255, 0.6);
  min-width: 170px;
  padding: 10px;
}
button:hover{
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}

ul{
  border-radius: 20px;
  background-color:  rgba(106, 134, 185, 0.8);
}

li{
  list-style: none;
  cursor: pointer;
  border-radius: 20px;
  background-color:var(--primary-color-light);
  border:var(--primary-color) solid 1px;
  margin: 5px;
  padding: 5px;
  font-weight: bolder;
  font-size: 20px;
}
li:hover{
  background-color: var(--primary-color);
  transform: scale(1.05);
  border:white solid 1px;
}

a{
  transition: .5s;
  color: var(--primary-color)
}
a:hover{
  color: var(--light-color)

}

.icon{
  width: 25px;
}

nav .container, .navbar{
  background-color: transparent;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  z-index: 1000;
  width: 200px;
}

.navbar-nav {
  position: relative;
}

.active {
  background-color: var(--primary-color);
  color: var(--primary-color-light);
  border-radius: 20px;
  border:white solid 1px;
}

.active a{
  color: white;
}
