<header>
  <div class="container d-flex justify-content-center align-items-center">

      <div class="col-auto">
        <div class="d-flex align-items-center">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="logo">
            </div>
            <div>
              <h1 class="mb-0 ml-3 neon-blue neon-font">ViniloSound</h1>
              <h5 class="text-end neon-red neon-font">Play with us !!!</h5>
            </div>
        </div>
      </div>

      <nav class="col pt-3 mt-4">
          <ul class="nav justify-content-center">
              <li class="nav-item "><a class="nav-link fs-5 menu-font" href="#">Inicio</a></li>
              <li class="nav-item "><a class="nav-link fs-5 menu-font" href="#">Información</a></li>
              <li class="nav-item "><a class="nav-link fs-5 menu-font" href="#">Productos</a></li>
              <li class="nav-item "><a class="nav-link fs-5 menu-font" href="#">Buscador</a></li>
          </ul>
      </nav>

      <div class="col-auto">
          <div class="buttons row mt-3 mx-2">
              <button class="btn mx-2">Login</button>
              <button class="btn">Register</button>
          </div>
      </div>

  </div>
</header>
