:host {
  display: block;
}

li{
  margin-right: 3%;
  padding-bottom: 5px;
  font-size: 1.8em;
  border-bottom: 3px solid transparent;
  color: var(--light-color);
  font-weight: bolder;
}
li:hover {
  animation: neonsEffectBlue 2s ease-in-out infinite alternate;
  cursor: pointer;
}
.active {
  color: var(--primary-color-medium);
  text-shadow: 0 0 3px var(--light-color);
}
