<div class="info p-3">
  <div class="row title text-center">
    <div class="overlay"></div>
    <div class="col-12 m-1">
      <h2 class="p-0 m-0 menu-font primary-color"> {{vinyl.name}}</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-xl-4 text-center" *ngIf="vinyl.cover_url; else coverDefault">
      <img [src]="vinyl.cover_url" alt="Portada">
    </div>
    <ng-template #coverDefault>
      <div class="col-xl-4 text-center">
        <img src="../../../../assets/img/noImg.jpg" alt="Portada">
      </div>
    </ng-template>

    <div class="col-xl-8">
      <div class="row">
        <div class="col-12" *ngIf="existsUser">
          <div *ngIf="existsCollection && !myCollection">
            <div *ngIf="!existsInCollection(vinyl.id); else included">
              <button class="btn primary-button w-100 mb-3"
                      (click)="addVinylToCollection(user!.collection!.id, vinyl.id); $event.stopPropagation()">
                Añadir a colección
              </button>
            </div>
            <ng-template #included>
              <span class="btn danger-button w-100 mb-3"
                    (click)="openConfirmDialog(vinyl.id); $event.stopPropagation()">
                Ya está en tu colección
              </span>
            </ng-template>
          </div>
            <div *ngIf="myCollection">
                  <button class="btn danger-button w-100 delete mb-3"
                          (click)="openConfirmDialog(vinyl.id); $event.stopPropagation()">
                  >
                    Quitar de la colección
                  </button>
            </div>

        </div>

        <div class="col-12">
          <h5 class="primary-color">Año de lanzamiento</h5>
          <p class="px-4">{{vinyl.publication_year}}</p>
        </div>
        <div class="col-12" *ngIf="vinyl.edition_year; else yearDefault">
          <h5 class="primary-color">Año de edición</h5>
          <p class="px-4">{{vinyl.edition_year}}</p>
        </div>
        <ng-template #yearDefault>
          <div class="col-12">
            <h5 class="primary-color">Año de edición</h5>
            <p class="px-4">No se tienen datos.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col mt-3">
    <h5 class="primary-color">Discográfica</h5>
    <p>
      <app-record-company-card [recordCompanies]="recordCompanies"/>
    </p>
  </div>

  <div class="col mt-3">
    <h5 class="primary-color">Formato</h5>
    <p>
      <app-format-card [formats]="formats"/>
    </p>
  </div>

  <div class="col mt-3">
    <h5 class="primary-color">Generos</h5>
    <p>
      <app-genre-card [genres]="genres"/>
    </p>
  </div>

  <div>
    <h5 class="primary-color">Grupo/s</h5>
    <p>
        <app-band-card [bands]="bands"/>
      </p>
  </div>

  <div>
    <h5 class="primary-color">Canciones</h5>
    <p>
        <app-song-cards [songs]="songs"/>
      </p>
  </div>
      <div>
        <span [routerLink]=[tempRout]
              class="rout primary-color"
        >
          <<< Volver
        </span>
      </div>
</div>

<app-confirm-dialog *ngIf="isConfirmDialogOpen"
                    [message]="confirmDialogMessage"
                    (confirm)="handleConfirm($event)">
</app-confirm-dialog>

