<footer class="primary-color-light">
  <div class="container mt-2">

    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4 text-center mb-2">
        <p>Síguenos en:</p>
        <div>
          <a href="" class="text-light mx-2"><i class="fab fa-facebook-f fa-2x primary-color-light"></i></a>
          <a href="" class="text-light mx-2"><i class="fab fa-twitter fa-2x primary-color-light"></i></a>
          <a href="" class="text-light mx-2"><i class="fab fa-instagram fa-2x primary-color-light"></i></a>
          <a href="" class="text-light mx-2"><i class="fab fa-twitch fa-2x primary-color-light"></i></a>
          <a href="" class="text-light mx-2"><i class="fab fa-youtube fa-2x primary-color-light"></i></a>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center mb-2">
        <div class="row">
          <div class="col-md-12 col-lg-3 mb-md-2 mb-lg-0">
            <img src="../assets/img/empresa1.png" alt="Logo" class="mb-2">
          </div>
          <div class="col-md-12 col-lg-9 text-md-left">
            <div class="mx-1">
              <p class="mb-1">BINARY REPOSITORY, S.L</p>
              <p class="mb-0">Pl/ Joan Miró 3 - Bajo, Elda (Alicante)</p>
              <p class="mb-0">965 388 888 / 665 388 888</p>
              <p>binary&commat;repo.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <ul class="list-unstyled pt-1">
          <li><a href="" class="primary-color-light">Legal Warning</a></li>
          <li><a href="" class="primary-color-light">Privacy policy</a></li>
          <li><a href="" class="primary-color-light">Cookies policy</a></li>
          <li><a href="" class="primary-color-light">Quality policy</a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
