<div>
  <div class="search-head p-2">
    <h5 class="primary-color text-center">Busqueda: Colecciones por nombre</h5>
    <div class="d-flex justify-content-center align-items-center">
      <search-box
        placeholder="Buscar por nombre"
        [initialValue]="initialValue"
        (onValue)="searchByUser($event)"
      />
      <button
        class="btn primary-button mx-2"
        (click)="clearCache();"
      >
        Limpiar
      </button>
    </div>
</div>

<shared-loading-spinner *ngIf="isLoading"/>

<div class="row my-3">
  <div class="col">

    <div
      *ngIf="collections.length === 0 && isLoading == false && initialValue !==''; else bandCard"
      class="alert alert-warning text-center mx-2 custom-alert"
    >
      No hay grupos que mostrar
    </div>

    <ng-template #bandCard>
      <app-collection-card [collections]="collections"/>
    </ng-template>

  </div>
</div>
