h3{
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,  var(--light-color), var(--primary-color), var(--light-color)) 1;
}
.form-container{
  width: 40vw;
  max-width: 500px;
  min-width: 350px;
  border-radius: 30px;
  border:rgb(105, 105, 35) solid 3px;
  animation: ShadowNeonsEffectYellow 1s ease-in-out infinite alternate;
  background-color: var(--light-color);
}
input, textarea{
  background-color: white;
  border:var(--primary-color) solid 1px;
}
input:focus, textarea:focus{
  transform: scale(1.03);
}
.primary-button:hover {
  animation: buttonNeonsEffect 0.5s ease-in-out forwards alternate;
}
.primary-button:active {
  transform: scale(0.9);
}
.alert-button:hover {
  animation: buttonNeonsEffectYellow 0.5s ease-in-out forwards alternate;
}
.alert-button:active {
  transform: scale(0.9);
}

.alert{
  background-color: var(--light-color);
  animation: ShadowNeonsEffectYellow 2s ease-in-out infinite alternate;
  border-radius: 20px;
  border:rgb(136, 136, 1) solid 3px;
}
