html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height:normal;
  background-color: black;
}
main {
  background-image: linear-gradient(to bottom, black, #444,#dadada,#444, black);
  min-height: 76vh;
}

a{
  text-decoration: none;
}

:root {
  --primary-color: #1336d1;
  --primary-color-medium:#4365ff;
  --primary-color-light:#c3e0ff;
  --light-color:#f4f4f4;
}

@keyframes neonsEffectBlue {
  0% {
      color:var(--primary-color);
      text-shadow: 0 0 20px rgba(106, 134, 185, 0.8);
  }
  100% {
      color: var(--primary-color-light);
      text-shadow: 0 0 20px rgba(0, 60, 121, 0.8);
  }
}
@keyframes neonsEffectRed {
  0% {
      color: #da2727;
      text-shadow: 0 0 20px rgba(240, 6, 6, 0.8);
  }
  100% {
      color: #d69898;
      text-shadow: 0 0 5px rgba(190, 5, 5, 0.5);
  }
}

@keyframes buttonNeonsEffect {
  0% {
      color:var(--primary-color);
      background-color: var(--primary-color-light);
      border:var(--primary-color) solid 1px;
  }
  100% {
      color: var(--primary-color-light);
      background-color:var(--primary-color);
      border:var(--primary-color-light) solid 1px;
  }
}

@keyframes buttonNeonsEffectYellow {
  0% {
      color:rgb(105, 105, 35);
      background-color: rgb(253, 253, 199);
      border:rgb(105, 105, 35) solid 1px;
  }
  100% {
      color: white;
      background-color:rgb(201, 187, 0);
      border:rgb(253, 253, 199) solid 1px;
  }
}

@keyframes buttonNeonsEffectRed {
  0% {
      color:rgb(165, 50, 50);
      background-color: rgb(255, 219, 219);
      border:rgb(80, 25, 25) solid 1px;
  }
  100% {
      color: white;
      background-color:rgb(165, 50, 50);
      border:rgb(255, 219, 219) solid 1px;
  }
}

@keyframes ShadowNeonsEffectBlue {
  0% {
  }
  100% {
    box-shadow: 0 0 10px var(--primary-color);
  }
}
@keyframes ShadowNeonsEffectYellow {
  0% {
  }
  100% {
    box-shadow: 0 0 10px rgb(136, 136, 1);
  }
}
@keyframes ShadowNeonsEffectRed {
  0% {
  }
  100% {
    box-shadow: 0 0 10px rgb(150, 0, 0);
  }
}

@keyframes pasiveButtonNeonsEffectBlue {
  0% {
    background-color:var(--primary-color-light);
  }
  100% {
    background-color:rgb(195, 224, 255,0.5);
    box-shadow: 0 0 10px var(--primary-color);
  }
}
@keyframes pasiveButtonNeonsEffectYellow {
  0% {
    background-color:rgb(253, 253, 199);
  }
  100% {
    background-color:rgb(253, 253, 199,0.5);
    box-shadow: 0 0 15px rgb(136, 136, 1);
  }
}
@keyframes pasiveButtonNeonsEffectRed {
  0% {
    background-color:rgb(255, 219, 219);
  }
  100% {
    background-color:rgba(255, 219, 219, 0.5);
    box-shadow: 0 0 15px rgb(150, 0, 0);
  }
}



.neon-blue{
  animation: neonsEffectBlue 2s ease-in-out infinite alternate;
}
.neon-red{
  animation: neonsEffectRed 2s ease-in-out infinite alternate;
}

.neon-font{
  font-family: "Pacifico";
}

.menu-font{
  font-family: "Satisfy", cursive;
}


.light-color{
  color: var(--light-color);
}
.primary-color{
  color: var(--primary-color);
}
.primary-color-light{
  color: var(--primary-color-light);
}

.primary-button{
  display: block;
  width: 100px;
  height: 40px;
  background-color:var(--light-color);
  color: var(--primary-color);
  border:var(--primary-color) solid 1px;
  animation: pasiveButtonNeonsEffectBlue 2s ease-in-out infinite alternate;
  font-weight: bold;
}

.alert-button{
  display: block;
  width: 100px;
  height: 40px;
  background-color:var(--light-color);
  color: rgb(80, 80, 25);
  border:rgb(80, 80, 25) solid 1px;
  animation: pasiveButtonNeonsEffectYellow 2s ease-in-out infinite alternate;
  font-weight: bold;
}

.danger-button{
  display: block;
  width: 100px;
  height: 40px;
  background-color:var(--light-color);
  color: rgb(80, 25, 25);
  border:rgb(80, 25, 25) solid 1px;
  animation: pasiveButtonNeonsEffectRed 2s ease-in-out infinite alternate;
  font-weight: bold;
}




