html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height:normal;
  background-color: black;
}
main {
  background-image: linear-gradient(to bottom, black, #444,#dadada,#444, black);
  min-height: 76vh;
}

a{
  text-decoration: none;
}

:root {
  --primary-color: #1336d1;
  --primary-color-light:#c3e0ff;
  --light-color:#f4f4f4;
}

@keyframes neonsEffectBlue {
  0% {
      color:var(--primary-color);
      text-shadow: 0 0 20px rgba(106, 134, 185, 0.8);
  }
  100% {
      color: var(--primary-color-light);
      text-shadow: 0 0 20px rgba(0, 60, 121, 0.8);
  }
}
@keyframes neonsEffectRed {
  0% {
      color: #da2727;
      text-shadow: 0 0 20px rgba(240, 6, 6, 0.8);
  }
  100% {
      color: #d69898;
      text-shadow: 0 0 5px rgba(190, 5, 5, 0.5);
  }
}

@keyframes buttonNeonsEffect {
  0% {
      color:var(--primary-color);
      background-color: var(--primary-color-light);
      border:var(--primary-color) solid 1px;
  }
  100% {
      color: var(--primary-color-light);
      background-color:var(--primary-color);
      border:var(--primary-color-light) solid 1px;
  }
}

@keyframes ShadowNeonsEffectBlue {
  0% {

  }
  100% {
    box-shadow: 0 0 25px var(--primary-color);
  }
}



.neon-blue{
  animation: neonsEffectBlue 2s ease-in-out infinite alternate;
}
.neon-red{
  animation: neonsEffectRed 2s ease-in-out infinite alternate;
}

.neon-font{
  font-family: "Pacifico";
}
.menu-font{
  font-family: "Roboto", sans-serif;
}

.light-color{
  color: var(--light-color);
}
.primary-color{
  color: var(--primary-color);
}
.primary-color-light{
  color: var(--primary-color-light);
}

.primary-button{
  display: block;
  width: 100px;
  height: 40px;
  background-color:var(--primary-color-light);
  color: var(--primary-color);
  border:var(--primary-color) solid 1px;
}




