:host {
  display: block;
}

main {
  background-image: linear-gradient(to bottom, black, #444,#dadada,#444, black);
}

.card{
  background-color:#f4f4f4;
  color: #333;
  border:var(--primary-color) solid 3px;
  border-radius: 20px;
}

.card:hover{
  animation: ShadowNeonsEffectBlue 1s ease-in-out infinite alternate;
  transform: scale(1.05);
}

.card h2{
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,  white, var(--primary-color), white) 1;
}

.commercial{
  background-image: url('./../../assets/img/publicidad1.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card-size{
  height: 300px;
  width: 425px;
  cursor: pointer;
}

p, h5{
  font-style: italic;
  font-weight: bolder;
  color: var(--light-color);
}

.card-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
  border-radius: 20px;
}

.card:hover .card-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.card:hover p, .card:hover h5 {
  color: black;
}

.card-body{
  z-index: 1;
}

.material{
  background-image: url('./../../assets/img/material.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.noticias{
  background-image: url('./../../assets/img/noticias.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.buscador{
  background-image: url('./../../assets/img/buscador.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.unete{
  background-image: url('./../../assets/img/unete.png');
  background-size: cover;
  background-repeat: no-repeat;
}




