:host {
  display: block;
}

.info{
  width: 80%;
  max-width: 1100px;
  border-radius: 20px;
  border:var(--primary-color) solid 3px;
  animation: ShadowNeonsEffectBlue 1s ease-in-out infinite alternate;
  background-color: var(--light-color);
}





