<footer>
  <div class="container d-flex justify-content-center align-items-center mt-2">

    <div class="col-4 text-center">
      <p>Siguenos en:</p>
      <a href="#" class="text-light mx-2"><i class="fab fa-facebook-f fa-2x"></i></a>
      <a href="#" class="text-light mx-2"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#" class="text-light mx-2"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#" class="text-light mx-2"><i class="fab fa-twitch fa-2x"></i></a>
      <a href="#" class="text-light mx-2"><i class="fab fa-youtube fa-2x"></i></a>
    </div>

    <div class="col-4">
      <div class="d-flex">

        <img src="../assets/img/empresa1.png" alt="Logo">

        <div class="text-center mx-1 mt-2">
          <p class="mb-1">BINARY REPOSITORY, S.L</p>
          <p class="mb-0">Pl/ Joan Miró 3 - Bajo, Elda (Alicante)</p>
          <p class="mb-0">965 388 888 / 665 388 888</p>
          <p>binary&commat;repo.com</p>
        </div>

      </div>
    </div>

    <div class="col-4 text-center">
      <ul class="list-unstyled pt-1">
        <li><a href="#">Legal Warning</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Cookies policy</a></li>
        <li><a href="#">Quality policy</a></li>
      </ul>
    </div>

  </div>
</footer>
